<!DOCTYPE html>
<html ng-app="libraryApp">
<head lang="en">
    <meta charset="UTF-8">
    <script src="scripts/jquery.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/materialize.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/libraryScript.js"></script>
    <link rel="stylesheet" href="style/materialize.css">
    <!--sorry for it, but I'm too lazy to create new css file for two rules-->
    <style type="text/css">
        *{
            cursor: default;
        }
        *[ng-click^="setPage("]{
            cursor: pointer;
        }
    </style>
    <title>Library</title>
</head>
<body ng-controller="mainCtrl">
    <div id="main container">
            <nav>
                <div class="navbar-fixed nav-wrapper purple lighten-1">
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    <ul class="left hide-on-med-and-down">
                        </li><a ng-click="setPage('books')">All books</a></li>
                        </li><a ng-click="setPage('authors')">All authors</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a ng-click="setPage('books')">All books</a></li>
                        <li><a ng-click="setPage('authors')">All authors</a></li>
                    </ul>
                </div>
            </nav>
        <div ng-view>

        </div>
    </div>
</body>
</html>
